{% extends "base.html" %}

{% block title %}
Title
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for note in notes %}
                <div class="accordion" id="notesAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{note.id}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{note.id}}" aria-expanded="true" aria-controls="collapse{{note.id}}">
                            {{ note.title }}
                        </button>
                        </h2>
                        <div id="collapse{{note.id}}" class="accordion-collapse collapse show" aria-labelledby="heading{{note.id}}" data-bs-parent="#notesAccordion">
                        <div class="accordion-body">
                            {{ note.description }}
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <div class="row">
        <form action="/add" method="POST">
            {{ csrf_input }}
            <div class="mb-3">
                <label for="title" class="form-label">Note title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="title *">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}